#php_value upload_max_filesize 40M
#php_value post_max_size 42M
#Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^.kzone.vn
ErrorDocument 404 /404.php
RewriteRule ^(.*)$ http://radio.kzone.vn/$1 [R=permanent,L]
RewriteRule ^admin controller/admin/index.php
RewriteRule ^login controller/admin/login.php

RewriteRule ^([a-zA-Z0-9_-]+)/$ controller/default/chitietdanhmuc.php?Id=$1
RewriteRule ^([a-zA-Z0-9_-]+)/page-([0-9]+)$ controller/default/chitietdanhmuc.php?Id=$1&page=$2
RewriteRule ^([a-zA-Z0-9_-]+)/page-([a-zA-Z0-9_-]+)-([0-9]+)$ controller/default/chitietdanhmuc.php?Id=$1&tab=$2&page=$3
RewriteRule ^tour/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+).html$ controller/default/chitiettour.php?danhmucId=$1&Id=$2
RewriteRule ^tin-tuc/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+).html$ controller/default/chitiettintuc.php?danhmucId=$1&Id=$2
RewriteRule ^khach-san/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+).html$ controller/default/chitietkhachsan.php?danhmucId=$1&Id=$2
RewriteRule ^dat-tour/ajax/$ controller/default/booking.php
RewriteRule ^dich-vu/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+).html$ controller/default/chitietdichvu.php?danhmucId=$1&Id=$2
RewriteRule ^dich-vu/([a-zA-Z0-9_-]+)/$ controller/default/danhmucdichvu.php?Id=$1
RewriteRule ^dich-vu/([a-zA-Z0-9_-]+)/page-([0-9]+)$ controller/default/danhmucdichvu.php?Id=$1&page=$2
RewriteRule ^tim-kiem-tour$ controller/default/timkiemtour.php
RewriteRule ^tim-kiem-khach-san$ controller/default/timkiemkhachsan.php
RewriteRule ^tim-kiem-tin-tuc$ controller/default/timkiemtintuc.php
RewriteRule ^hanh-trinh.html$ controller/default/hanhtrinh.php
RewriteRule ^lien-he.html$ controller/default/lienhe.php