body{
    font-family: Tahoma !important;
}
a, h1, h2, h3, h4, h5, h6{
    font-family: Tahoma !important;
}

.item_tour{
    /*border: 1px solid #e8e8e8;*/
    margin-bottom: 20px;
}
.themeum-latest-post-content{
    padding: 10px 0px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
}
.themeum-latest-post-content .entry-title a {

    color: #32aad6;;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.3;
    float: left;
    width: 100%;
}
.item_bottom{
    border-bottom: 0px;
    border-top: 1px solid #e5e5e5;
    padding-top: 0px !important;
}
.detail_button{
    display: inline-block;
    background-color: #00aeef;
    color: #fff;
    padding: 4px 15px;
    border-radius: 4px;
    /* font-size: 12px; */
    font-weight: 500;
    position: relative;
    bottom: -15px;
    /* opacity: 0; */
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.latest-post{
    float: right;
}
.latest-post a{
    background-color: red;
}
.hover_left:hover{
    color: red;
}
.hover_right:hover{
    color: #ffffff;
}
.product .images {
    float: left;
    /*width: 49%;*/
    /*margin-right: 1%;*/
}
.product .images .attachment-shop_single {
    border: 0px solid #cccccc;
    overflow: hidden;
    width: 100%;
    border-radius: 0px;
}
.short_content{
    text-align: justify;
    height: 97px;
    overflow: hidden;
}
.product {
    position: relative;
    float: left;
    width: 100%;
    padding-bottom: 30px;
}
.product .images img {
    max-width: 100%;
    height: auto;
}
.product .summary {
    float: right;
    /*width: 49%;*/
    /*margin-left: 1%;*/
}
.woocommerce-product-rating {
    float: left;
    width: 100%;
}
.entry-summary div .price {
    -webkit-box-shadow: inset 0px 0px 0px 0px rgba(244, 244, 246, 1.0);
    box-shadow: inset 0px 0px 0px 0px rgba(244, 244, 246, 1.0);
    font-size: 14px;
    text-align: left;
}
.entry-summary div .price ins {
    color: #32aad6;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}
.product .price {
    float: left;
    width: 100%;
    padding: 3px 0px 0px 0px;
    font-size: 17px;
    border-bottom: 1px dotted;
}
.unset_padding_left{
    padding-left: 0px;
}
.unset_padding_right{
    padding-right: 0px;
}
.img_right{
    margin-bottom: 30px;
}
.package-details-content .title {
    border-bottom: 1px dotted;
    padding-bottom: 5px;
    color: #32aad6;;
}
.booking_detail {
    color: #ffffff;
    display: block;
    padding: 7px 20px;
    border-radius: 0px 0px 0px 0px;
    border: 1px solid #f1f1f1;
    border-bottom-width: 0px;
    background-color: #ec1b23;
    text-align: center;
    float: left;
}
.common-menu-wrap .nav>li>ul li a:hover{
    color: #32aad6;
}
.common-menu-wrap .nav>li>ul li{
    border-bottom: 1px dotted #32aad6;
}
.color_name{
    color: #ffffff;
}
.social-share ul li a{
    font-size: 16px;
}
.package-share li a{
    color: #ed1c24;
}
.fa-star{
    color: #ffd501;
}
.tintuc_left li a:hover{
    color: #32aad6;
}
.booking_left p {
    text-align: left;
    margin-top: 10px;
    color: #0086cd !important;
}
.booking_left p span {
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #ec1b23;
}
.calculate_bt {
    width: 40%;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #0086cd;
}
@media (max-width: 768px) {
    .short_content{
        height: auto;
    }
}